/*Заголовок*/

.container > header {
	text-align: center;
	margin-top: 50px;
}

.container > header h1 {
	font-size: 0.9em;
	font-weight: 100;
}

header a{
	display: inline-block;
	padding: 25px 50px;
}

/*Приветствие*/

figcaption.wellcome {
	position: absolute;
	width: 200px;
	height: 70px;
	left: 50%;
	top: 50%;
	margin-left: -90px;
	margin-top: -20px;

}

figcaption.wellcome a {
	text-align: center;
	padding: 7px 14px;
	border-radius: 4px;
	display: inline-block;
	background: #66cccc;
	color: #fff;
}

/*Основная сетка*/

.grid {
	padding: 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 300px;
	margin: 0;
	padding: 20px 20px 100px 20px;
	text-align: left;
	position: relative;
}

/*Превью галлереи*/

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure p {
	position: absolute;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	background: #66c4d0;
	color: #ed4e6e;
}

/*Заголовок превью*/

.grid figcaption h3 {
	margin-top: 35%;
	padding: 0;
	font-family: dincyr, 'dincyr', sans-serif;
	font-size: 1.5em;
	font-weight: 100;
	color: #fff;
}

/*Кнопка в превью*/

.grid figcaption a {
	font-family: dincyr, 'dincyr', sans-serif;
	font-size: 1em;
	font-weight: 100;
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #fff;
	color: #66c4d0;
}

.cs-style-3 figcaption a {
	position: absolute;
	left: 50%; 
	top: 60%;
	margin-left: -55px;
	margin-top: -20px;
}

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100%;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}

footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #66c4d0;
}

footer > p {
	font-family: dincyr, 'dincyr', sans-serif;
	font-size: 0.60em;
	font-weight: 100;
	color: #fff;
}

