*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; }

@font-face {
	font-family: dincyr;
	scr: url(../fonts/DINCyrLt.ttf);
}

body, a, p, h1, h2, h3, head, header, figure, figcaption, nav, ul, li, div {
	font-family: dincyr, 'Europe', sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

a:hover,
a:active {
	color: black;
}

body.wellcome {
	background: url(../image/back.png);
	background-size: 10px;
	background-repeat: repeat;
}