body {
	text-align: center;
}

.left img {
	position: relative;
	text-align: center;
	margin-left: 0;
	top: 0;
	float: left;
	padding: 5%;
	max-width: 75%;
	height: auto;
}

@font-face {
	font-family: dincyr;
	scr: url(../fonts/DINCyrLt.ttf);
}

.right {
	margin: 0;
	font-family: dincyr, 'dincyr', sans-serif;
	font-weight: 100;
	position: fixed;
	margin-left: 70%;
	top: 5%;
	text-align: justify;
	text-align-last: justify;
	width: 375px;
}

figure > h1 {
	font-size: 3em;
}

figure > p {
	color: #404040;
}

figcaption > a {
	font-size: 1em;
	font-weight: 100;
	text-align: center;
	padding: 5px 10px;
	border-radius: 4px;
	display: inline-block;
	background: #f2f2f2;
	color: #000;
}

a:hover {
	color: #fff;
}

/*Вертикальная адаптация*/

@media screen and (max-width: 31.5em) {

/*Адаптивное изображение*/

	.left > img {
		position: relative;
		text-align: center;
		margin-left: 0;
		float: left;
		padding: 5%;
		max-width: 100%;
		height: auto;
	}

/*Адаптивный блок текста*/

	.right {
		padding: 7%;
		margin: 0;
		font-family: dincyr, 'dincyr', sans-serif;
		font-weight: 100;
		position: relative;
		text-align: center;
		width: auto;
	}

	figure > h1 {
		text-align: center;
		font-size: 1.2em;
	}

	figure > p {
		font-size: 0.8em;
		text-align: justify;
		text-align-last: justify;
	}

	figcaption {
		position: relative;
		text-align: center;
	}

}


/*Горизонтальная адаптация*/

@media screen and (max-width: 68.750em) {

/*Адаптивное изображение*/

	.left > img {
		position: relative;
		padding-left: 14%;
		padding-right: 11%;
		margin: 0;
		max-width: 100%;
		height: auto;
	}

/*Адаптивный блок текста*/

	.right {
		padding: 7%;
		margin: 0;
		font-family: dincyr, 'dincyr', sans-serif;
		font-weight: 100;
		position: relative;
		text-align: center;
		width: auto;
	}

	figure > h1 {
		text-align: center;
		font-size: 1.2em;
	}

	figure > p {
		font-size: 0.8em;
		text-align: justify;
		text-align-last: justify;
	}

	figcaption {
		position: relative;
		text-align: center;
	}

}